function mod 2
    push constant 0
    pop local 0 
    push argument 0
    pop local 1 

label W_mod
    push local 1
    push argument 1
    lt
    if-goto E_mod
    push local 1
    push argument 1
    sub
    pop local 1
    goto W_mod

label E_mod
    push local 1
    return